/** CSS -------------------------------------------------------------------*/

/** Fuentes personalizadas*/
@font-face {
  font-family: "TreeFont";
  src: url("fonts/Grandstander-Black.otf");
}
@font-face {
  font-family: "ExtraLight";
  src: url("fonts/Grandstander-ExtraBoldItalic.otf");
}
/* Ajuste de pantallas*/
/* Pantallas muy pequeña */
@media screen and (max-width:576px) {

.logo{
	display: none;
}
.banner{

	padding-right:  25%;
}

.container-principal{
  text-align: center;
}
.navegacion{
  text-align: center;
}
.card{
  margin-bottom: 0.5em;
  padding-right: 0.3em;
}

}
/* Pantalla pequeña  sm */
@media screen and (max-width:768px) {

#logoBanner{
  text-align: center;
  margin-right: 20%;
}
.logo{
  display:none;

}



}

/* Pantalla mediana md*/
@media screen and (max-width:992px){
.contenido{
  text-align: center;
}
.activi{
  padding-left: 0%;
}
.card{
  margin-bottom: 5%;
}



}
/* Pantallas muy grandes lg y xl*/
@media screen and (min-width:993px) {

  #banner{

  padding-left: 3%;

  }
  #myCarousel{
    padding-left: 25em;

  }
  .activi{
    padding-left: 0.3em;
  }
  
}
/** Container*/

.container-principal{
 /* max-width: 1400px; */

  
  background: linear-gradient(#a986e8, #eeaaae)

}

/** Nav -----------------------------------------------------------------------------------------*/
nav {
	background-color: #8ED932;
  border-style: solid;
  border-color: black;
  font-size: 0.7em;
  
  
}
.navbar{
  border-radius: 45px;
  border-style: solid;
  border-color: #1A1523;
  border-width: 0.3em;
}
#fuenteTree{
	font-family: "TreeFont";
	font-size: 3em;
}
.btn-instalaciones, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4385F0 !important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    color: white;

}
.btn-videos {
    background-color: #DB2016 !important;
    color: white;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
.btn-dibuja, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FC713A !important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;

}
.btn-canciones, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FAF216 !important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;


}
/** Contenido---------------------------------------------------------------------*/

.contenido{
  background-color: #eeeeee;
  border-style: solid;
  align-content: center;



}
.logo{
	background-color: #8966c8;
}
.textoImagen{
  font-family: "ExtraLight";
  font-size: 1.5em;
  text-align: center;

}
#imagenclickable{
  border-style: solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#titulo{
	color: #ab0311;

}
footer{
  background-color: #2A2533;
  padding-top: 1em;
  color: white;

}
.pie{
  background-color: #1A1523;


}
li{
  padding-bottom: 5%;
}
.texto{
  font-size: 0.6em;
}
#nube1{
	position: absolute;
	top: 50px;
	animation: anim-nube-horiz 40s linear 0s infinite normal;
}
#playAudio{
  bottom: 0; 
position: fixed; 
right: 0; 
}

/** PROBANDO COSAS*/

