/** Fuentes personalizadas*/
@font-face {
  font-family: "TreeFont";
  src: url("fonts/Grandstander-Black.otf");
}
@font-face {
  font-family: "ExtraLight";
  src: url("fonts/Grandstander-ExtraBoldItalic.otf");
}

.container-principal{

  background: linear-gradient(#a986e8, #eeaaae);
}
.logo{
  background-color: #8966c8;
  
}
nav {
  background-color: #8ED932;
    border-style: solid;
    border-color: black;
    font-size: 0.7em;
}
.navbar{
  border-radius: 45px;
  border-style: solid;
  border-color: #1A1523;
  border-width: 0.3em;
}
.navegacion{
  text-align: center;
}
#fuenteTree{
  font-family: "TreeFont";
  font-size: 3em;
}
.btn-instalaciones, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #4385F0 !important;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  color: white;

}
.btn-videos {
  background-color: #DB2016 !important;
  color: white;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.btn-canciones, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #FAF216 !important;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;


}

.contenido{
  background-color: #eeeeee;
  border-style: solid;
  align-content: center;
}
.titulo{
  color: #ab0311;
  

}
.textoImagen{
  font-family: "ExtraLight";
  font-size: 1.5em;
  text-align: center;

}

#imagenclickable{
  border-style: solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/** Footer*/
footer{
  background-color: #2A2533;
  padding-top: 1em;
  color: white;

}
.pie{
  background-color: #1A1523;


}
#playAudio{
  bottom: 0; 
position: fixed; 
right: 0; 
}

